<nav class="navbar navbar-expand-lg" style="background-color: #663500;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" style="color: #fff3e6;" aria-current="page" href="/">Головна</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Статті</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-post">Додати нову статтю</a>
        </li>
      </ul>
      <% if (user) { %>
        <div class="navbar-text">
          Прізвище: <%= user.lastName %>, Ім'я: <%= user.firstName %>
        </div>
      <% } else { %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/login">Логін</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registration">Реєстрація</a>
          </li>
        </ul>
      <% } %>
      
    </div>
  </div>
</nav>