<%- include('./partials/header.ejs') %> 
<%- include('./partials/nav.ejs', { user: user }) %>

<div class="add-post">
  <h1>Створити новий пост</h1>

  <form method="post" action="">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Назва статті </label>
      <input
        required
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Опис</label>
      <textarea
        required
        type="text"
        class="form-control"
        id="description"
        name="description"
        rows="4"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Автор</label>
      <input
        required
        type="text"
        class="form-control"
        id="author"
        name="author"
      />
    </div>
    

    <button type="submit" class="btn btn-primary">Створити</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>