<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/style.css" >
  <title>Вхід</title>
</head>
<body class="login">
  <h1>Вхід</h1>

  <% if (user) { %>
    <p>Ви ввійшли як: <%= user.firstName %> <%= user.lastName %></p>
    <script>
      setTimeout(() => {
  window.location.href = '/';
}, 2000);
    </script>
  <% } %>

  <form action="/login" method="post">
    <label for="email">Електронна адреса:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" style="color: #fff3e6;">Увійти</button>
  </form>
</body>
</html>
